<% if (theme.about) { %>
  <div class="widget-wrap">
    <h3 class="widget-title">About</h3>
    <div class="widget">
      <% if (theme.about.author) { %>
        <p> <%- config.author %> </p>
      <% } %>
      <% if (theme.about.twitter) { %>
        <p> <a href="http://twitter.com/<%- theme.twitter %>">@<%- theme.twitter %></a> </p>
      <% } %>
      </p>
      <% if (theme.about.aboutme) { %>
        <p> <%- theme.aboutme %> </p>
      <% } %>
      <% if (theme.about.description) { %>
        <p> <%- config.description %> </p>
      <% } %>
    </div>
  </div>
<% } %>
